body {
    background-color: #333941;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    gap: 12px;
}

#canvas {
    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
    background-image: url("./assets/Background.png");
    background-size: cover;
}

